<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tis.mapper.ApplicationMapper">
<!-- 게시글 등록하기 -->
<insert id="applicationInsert" parameterType="Application">
	insert into applicationview values(applicationview_seq.nextval,
	#{name},#{sex},#{birth},#{tel},
	#{post},#{addr1},#{addr2},#{contents:VARCHAR},sysdate, #{midx}, #{downcg_code})
</insert>

<!-- 게시글 불러오기 -->
<select id="getAppList" resultType="Application">
	select *from applicationview order by aidx desc
</select>

<select id="getAppCount" resultType="_int">
	select count(aidx) from applicationview
</select>

<select id="AppInfo" resultType="Application" parameterType="int">
	select aidx,name,sex,birth,tel,post,addr1,addr2,contents,sysdate,midx,downcg_code
	from applicationview where aidx=#{aidx}
</select>

<update id="applicationUpdate" parameterType="Application">
	update applicationview set contents = #{contents} where aidx = #{aidx}
</update>

</mapper>